.sj-page {
  text-align: center;
  padding: 150px 20px;
}

.sj-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.sj-text {
  opacity: 0.8;
  margin-bottom: 25px;
}

.sj-btn {
  padding: 14px 30px;
  background: #007bff;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
