.sj-page {
  text-align: center;
  padding: 150px 20px;
}

.sj-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.sj-text {
  opacity: 0.8;
  margin-bottom: 25px;
}

.sj-btn {
  padding: 14px 30px;
  background: #007bff;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.sj-container {
  background: #0d131a;
  min-height: 100vh;
  padding: 40px;
  color: white;
  text-align: center;
}

.sj-title {
  font-size: 32px;
  margin-bottom: 8px;
}

.sj-subtext {
  color: #bbbbbb;
  margin-bottom: 25px;
}

/* MAP BOX */
.map-box {
  background: #1a222d;
  width: 80%;
  margin: auto;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
}

.map-header h3 {
  margin-bottom: 4px;
}

.map-header p {
  font-size: 14px;
  color: #9ea7b3;
}

/* Fake Map UI */
.map-area {
  margin-top: 18px;
  background: #0f1722;
  height: 380px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  border: 1px solid #29303a;
}

/* Fake route line */
.route-line {
  position: absolute;
  width: 4px;
  height: 300px;
  background: #3ea6ff;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

/* Map points */
.point {
  position: absolute;
  background: #3ea6ff;
  color: black;
  padding: 6px 10px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
}

.start {
  top: 20px;
  left: 47%;
}

.end {
  bottom: 20px;
  left: 42%;
  background: #32cd32;
}

/* Start Journey button */
.sj-btn {
  margin-top: 30px;
  background: #3ea6ff;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: #000;
  transition: 0.3s ease;
}

.sj-btn:hover {
  background: #66c0ff;
}
