
.adb-container {
  background: #0d131a;
  min-height: 100vh;
  padding: 40px;
  color: white;
  text-align: center;
}

.adb-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 5px;
}

.adb-sub {
  color: #bbbbbb;
  margin-bottom: 30px;
}

/* GRID */
.adb-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 22px;
  padding: 15px;
}

/* CARD */
.adb-card {
  background: #1a222d;
  padding: 22px;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s ease;
  text-align: left;
}

.adb-card:hover {
  border-color: #3ea6ff;
  transform: translateY(-6px);
}

.adb-card.active {
  border-color: #3ea6ff;
  background: #273547;
  box-shadow: 0 0 12px rgba(62, 166, 255, 0.4);
}

/* Header */
.adb-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adb-header h3 {
  color: #3ea6ff;
  font-size: 22px;
}

.driver-tag {
  background: #3ea6ff;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  font-size: 13px;
}

/* Stops */
.stop-title {
  margin-top: 10px;
  color: #ccc;
  font-size: 14px;
  font-weight: bold;
}

.stop-list {
  margin-top: 8px;
  margin-left: 10px;
  color: #ddd;
  line-height: 1.6;
  font-size: 14px;
}

.destination {
  margin-top: 12px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(62,166,255,0.1);
  border: 1px solid rgba(62,166,255,0.4);
  color: #c9eaff;
  font-size: 14px;
  font-weight: bold;
}
.dbus-page {
  background: #0d131a;
  min-height: 100vh;
  padding: 35px;
  color: white;
}

.dbus-title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 25px;
}

.dbus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 22px;
}

.dbus-card {
  background: #1a222d;
  padding: 22px;
  border-radius: 16px;
  transition: 0.3s;
  border: 1px solid transparent;
}

.dbus-card:hover {
  transform: translateY(-5px);
  border-color: #3ea6ff;
}

.dbus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dbus-header h3 {
  color: #3ea6ff;
  font-size: 20px;
}

.driver-tag {
  background: #3ea6ff;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
}

.dbus-subtitle {
  margin-top: 12px;
  font-weight: bold;
  color: #cccccc;
}

.dbus-stops li {
  font-size: 14px;
  margin: 4px 0;
}

.dbus-destination {
  margin-top: 12px;
  background: rgba(62,166,255,0.12);
  padding: 8px;
  border-radius: 10px;
  color: #c8e9ff;
}

.dbus-btn {
  margin-top: 14px;
  width: 100%;
  background: #3ea6ff;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}